@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


:root{
    --black: #0e0e10; 
    --gray: #123244;
    --darkblue: #146483; 
    --blue: #1fa0cc; 
    --white: #eeeeee;

    --background: #fffffe;
    --headline: #094067;
    --paragraphe: #5f6c7b;
    --button: #3da9fc;
    --highlight: #3da9fc;

}

* {
    /* background-color: var(--background); */
    color: var(--white);
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
}

a{
    font-size: 20px;
    text-decoration: none;
}

.navigation a.active{
    text-decoration: underline;
}

.site-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column row;
    padding: 2px 1.5rem; 
    /* background-color: var(--headline); */
    /* border: 1px var(--white); */
    /* border-style: none none solid none; */
}

.logo{
    cursor: pointer;
    width: 50px;
    margin-right: 100px ;
}

.main-list{
    list-style: none; 
}

.main-list li{
    display: inline-block;
    padding: 0 5px;
}

.main-list li a{
    transition: all 0.6s;
}

.main-list li a:hover{
   font-size: 1.5em;
   color: var(--blue)
}

button{
    background-color: rgb(0, 0, 0, 0.0);
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid;
    transition: all 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

button:hover{
    background-color: rgba(0, 146, 204, 0.8);
    
}



/* body */

body{
    background-color: var(--background);
    width: inherit;
    transition: opacity 0.5s ease;
}


.content{
    margin: 0;
    padding: 0;
    background-image: url("images/DSC01060.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100svh;
    overflow-y: auto;
}


.main-page{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 80%; 
    margin: 100px auto;
}


h2{
    border-bottom: rgba(255, 255, 255, 0.6) solid 1px;
    padding-bottom: 20px;
    font-size: 4rem;
    min-width: 40%;
    text-align: center;
    transition: all 2s;
}

h1{
   margin: 20px auto 50px;
   color: rgb(255, 255, 255);
   font-size: 2rem;
   transition: all 2s;
   
}
.intro1, .intro2{
    opacity: 0;
}
.but1{
    margin: 20px auto;
    padding: 10px 50px;
    font-size: 1.2em;
    border-radius: 0px;
    transition: all 2s;
    
}

.but1:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
   
}
/*------- Gallerie -------*/


.portfolio{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;

    
}
.container-img{
    transition: all 0.5s ease;
    opacity: 1;
    position: relative;
    margin: 4px 4px;
}

.container-img > img{
    background-color: rgb(0, 0, 0);
    width: 50vh;
    height: auto;
    cursor: pointer;
    /* display: inline-block; */
    
}

.hidden{
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 0;
}


/* Boutons de sélection de catégorie */
#category{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
    margin: 20px auto 0px;
}

#category > .btn{
    margin: 5px 5px ;
}

#category > .btn.selected{
    background-color: rgba(0, 146, 204, 0.8);
    font-weight: bold;
}
/* ----------------------------------------- */

/* -------------------Style pour le modal------------------- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
}
.next, .previous{
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 2.5em;
    user-select: none;
    font-weight: bold;
}

.next{
    right: 60px;
}
.previous{
    left: 60px;
}

.close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
/* ----------------------------------------------------------- */
.description{
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgba(0, 0, 0, 00.8));
    padding: 10px 0px;
    opacity: 0;
    transition: opacity 0.8s ease;
    
}

.container-img:hover .description{
    opacity: 1;
}

.bar{
    width:26px;
    height: 2px;
    background-color: #fff;
}

.bar1, .bar2, .bar3{
    margin:4px 0;
    height: 3px;
    width: 20px;
    background-color: #fff;
    transition: all 0.3s;
    
}

#hamburger{
    position: absolute;
    height: 16px;
    top: 16px;
    right: 25px;
    cursor: pointer;
}

.bar1.click {
    transform: translateY(7px) rotate(-45deg);
}

.click.bar2{
    opacity: 0;
}

.click.bar3{
    transform: translateY(-7px) rotate(45deg);
}