@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --black: #0e0e10; 
    --gray: #123244;
    --darkblue: #146483; 
    --blue: #1fa0cc; 
    --white: #eeeeee;   
}

* {
    /* background-color: var(--black); */
    color: var(--white);
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    font-family: "Caveat",sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.navigation a.active{
    text-decoration: underline;
}

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column row;
    padding: 2px 1.5rem; 
    background-color: rgba(0, 0, 0, 0.253);
    border: 1px var(--white);
    border-style: none none solid none;
}

.logo{
    cursor: pointer;
    width: 50px;
    
}

.main-list{
    list-style: none; 
}

.main-list li{
    display: inline-block;
    padding: 0 5px;
}

.main-list li a{
    transition: all 0.6s;
}

.main-list li a:hover{
   font-size: 1.5em;
   color: var(--blue)
}

button{
    background-color: var(--blue);
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    transition: all 0.3s;
}

button:hover{
    background-color: rgba(0, 146, 204, 0.8);
    
}

/* body */

body{
    background-color: var(--black);
    width: inherit;
    transition: opacity 0.5s ease;
}

.accueil{
    background: url(images/DSC00358.jpg) center no-repeat;
    background-size: cover;
    height: 100svh;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 500px; 

}


h2{
    text-align: center;
    font-family: "Caveat", sans-serif;
    font-size: 5em;
    margin: 2rem 0;
    
}


.col{
    width: 30%;
    margin: 0 30px;
    text-align: center;
    margin: 2rem 0;
}

 .col1 button{
    background-color: rgb(255, 255, 255, 0);
    border: 1px solid var(--white);

 }


/*------- Gallerie -------*/

.portfolio{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0
    
}
.container-img{
    transition: all 0.5s ease;
    opacity: 1;
}

.container-img > img{
    width: 40vh;
    height: auto;
    margin: 4px 6px;
}

.hidden{
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 0;
}
/* -----------------Wallpaper de l'accueil pour voir le martin pêcheur----------- */
@media only screen and (max-width:400px){
    .accueil{
        background-position-x: -650px;
    }
    .container-img > img{
        width: 20svh;
    }
}

@media only screen and (max-width:600px){
    .accueil{
        background-position-x: -750px;
    }
    .container-img > img{
        width: 20svh;
    }
}
/* ----------------------------------- */

#category{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
    margin: 20px auto 0px;
}

#category > .btn{
    margin: 5px 5px ;
}

.btn.selected{
    background-color: rgba(0, 146, 204, 0.8);
    font-weight: bold;
}

/* Style pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}